@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* access variables with "var(--primary-color)" */
  --primary-color: red;
  --secondary-color: green;
  --tertiary-color: blue;
  --default-font-size: 16px;
  --small-font-size: 12px;
  --big-font-size: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #1f1b1b;
  color: white;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #b0bde1;
  transform: scale(1.16);
}

.active {
  color: #b0bde1;
  transform: scale(1.16);
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
